/*
!/src/
/src/*
!/src/robot_control
/src/robot_control/captures/
/src/robot_control/robot_control/__pycache__/
!/src/candidate_generation
!/.gitignore
!/build_transforms_from_poses.py
!/gpu_candidate_puller.py
!/gpu_main_loop.py
!/viewpoint_scoring.py
!/gpu_scripts/